package main

import (
	"shadow-dom/etlctl/pkg/util/etl"
	_ "shadow-dom/etlctl/pkg/util/etl/sources"
	_ "shadow-dom/etlctl/pkg/util/etl/targets"
)

func main() {
	e := etl.ETL{
		Name: "{{.Name}}",
		Sources: []etl.StorageConfig{
			{{- range .Sources}}
			{
				Name: "{{.Name}}",
				Type: "{{.Type}}",
				Connection: map[string]string{
					{{- range $key, $val := .Connection}}
					"{{$key}}": `{{$val}}`,
					{{- end}}
				},
			},
			{{- end}}
		},
		Queries: []etl.Query{
			{{- range .Queries}}
			{
				Name: "{{.Name}}",
				SQL:  `{{.SQL}}`,
			},
			{{- end}}
		},
		Targets: []etl.StorageConfig{
			{{- range .Targets}}
			{
				Name: "{{.Name}}",
				Type: "{{.Type}}",
				Connection: map[string]string{
					{{- range $key, $val := .Connection}}
					"{{$key}}": `{{$val}}`,
					{{- end}}
				},
			},
			{{- end}}
		},
		Pipelines: []etl.Pipeline{
			{{- range .Pipelines}}
			{
				Name:    "{{.Name}}",
				Sources: []string{ {{join .Sources ", "}} },
				Query:   "{{.Query}}",
				Target:  "{{.Target}}",
				Fields: []etl.FieldMapping{
					{{- range .Fields}}
					{Source: "{{.Source}}", Target: "{{.Target}}"{{if .Transform}}, Transform: "{{.Transform}}"{{end}}},
					{{- end}}
				},
				{{- if .UniqueFields}}
				UniqueFields: []string{ {{join .UniqueFields ", "}} },
				{{- end}}
			},
			{{- end}}
		},
	}

	e.Run()
}
