package main

import (
    "fmt"
	"shadow-dom/etlctl/pkg/util/etl"
)

func main() {
	var etl etl.ETL = etl.ETL {
        Sources: []etl.DBStorage{
			{{range .Sources}}
			{
				Name: "{{.Name}}",
				Type: "{{.Type}}",
				Connection: map[string]string{"filepath": `{{index .Connection "filepath"}}`},
			},
			{{end}}
		},
		Queries: []etl.Query{
			{{range .Queries}}
			{
				Name: "{{.Name}}",
				SQL: `{{.SQL}}`,
			},
			{{end}}
		},
		Targets: []etl.DBStorage{
			{{range .Targets}}
			{
				Name: "{{.Name}}",
				Type: "{{.Type}}",
				Connection: map[string]string{"filepath": `{{index .Connection "filepath"}}`},
			},
			{{end}}
		},
		Pipelines: []etl.Pipeline{
			{{range .Pipelines}}
			{
				Sources: []string{ {{join .Sources ", "}} },
				Query:   "{{.Query}}",
				Target:  "{{.Target}}",
				Fields: []etl.FieldMapping{
					{{range .Fields}}{Source: "{{.Source}}", Target: "{{.Target}}"},{{end}}
				},
			},
			{{end}}
		},
	}

    fmt.Println(etl)
}
