apiVersion: v1
kind: Secret
metadata:
  name: etl-{{.ETLName}}-secrets
  namespace: {{.Namespace}}
  labels:
    app: etlctl
    etl: {{.ETLName}}
type: Opaque
stringData:
  # Add connection credentials as needed
  # Example:
  # DB_HOST: ""
  # DB_PASSWORD: ""
{{- range .Connections}}
  {{.Name}}_HOST: ""
  {{.Name}}_USER: ""
  {{.Name}}_PASSWORD: ""
{{- end}}
